nav {
    background-color: rgb(18, 58, 88);
}

header {
    display: flex;
    color: white;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    height: 90.7vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/medical.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/medical.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

.login-card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-position: center;
}